body{
    margin-top:20px !important;
}
label span{
    color:#ff0000
}
.btn-custom{
    background:#2c6879;
    border:1px solid #2c6879;
    border-radius:4px;
    font-size: 1.2em;
    padding: 1px 10px;
    color:#fff
}
.ChangeFieldName{
    cursor:pointer;
}
.form-field{
    border-radius:4px;
    padding:5px 2px;
}